VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# AWS SES (solo servidor / Vercel)
AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SES_FROM_EMAIL=
SES_CONFIGURATION_SET=
ALLOWED_ORIGINS=https://matecode-lyart.vercel.app

# Firebase Service Account (solo servidor / Vercel)
FIREBASE_SERVICE_ACCOUNT_KEY=
